<table class="body">
  <tr>
    <td class="center" align="center" valign="top">
      <center>
        <table class="row header">
          <tr>
            <td class="center" align="center">
              <center>
                <table class="container">
                  <tr>
                    <td class="wrapper last" style="padding-bottom: 0; padding-top: 10px;">
                      <table class="twelve columns">
                        <tr>
                          <td class="six sub-columns">
                            <%= image_tag attachments['headerlogo2.png'].url %>
                          </td>
                          <td class="six sub-columns last" align="right" style="text-align:right; vertical-align:middle;">
                            <a href="http://merchcat.com/contact"><span class="template-label contact">Contact</span></a>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </center>
            </td>
          </tr>
        </table>
        <table class="container">
          <tr>
            <td>
              <!-- content start -->
              <table class="row hero">
                <tr>
                  <td class="wrapper last">
                    <table class="twelve columns hero">
                      <tr>
                        <td>
                          <h3>Your New Password</h3>
                          <p>Your new password for Merch Cat is:<strong> <%= @new_pass %> </strong></p>
                          <p>You may change this password at any time in your profile.</p>
                          <a href="http://merchcat.com"><button class="button-style-one">Login Now</button></a>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <table class="row footer">
                <tr>
                  <td class="wrapper last">
                    <table class="twelve columns">
                      <tr>
                        <td class="last right-text-pad">
                          <h5 style="text-align: center; color: #ffffff; font-size:12px;">All rights reserved. &copy; 2015 Merch Cat</h5>
                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <!-- container end below -->
            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>